@font-face {
    font-family: GenshinFont;
    src: url(../designs/fonts/zh-cn.ttf);
}

p,
h1,
h2 {
    font-family: GenshinFont;
    color: white;
}

body {
    background-image: url(../designs/images/bgempty.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: .35;
}

.title {
    text-align: center;
    font-size: 25px;
}

.stats {
    margin: 100px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
    font-size: 25px;
}

.return {
    width: 75px;
    cursor: pointer;
}


.container {
    position: relative;
    left: 7.5%;
    display: flex;
    flex-direction: row;
}

.character {
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.514);
    max-width: 500px;
}

.char {
    width: 250px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border: 2.5px solid white;
}

.character-epic {
    margin: 10px;
    border: 3px solid rgb(230, 106, 255);
    max-width: 500px;
}

.character-leg {
    margin: 10px;
    border: 3px solid rgb(255, 205, 67);
    max-width: 500px;
}

.char-epic {
    width: 250px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border: 2.5px solid rgb(230, 106, 255);
}

.char-leg {
    width: 250px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border: 2.5px solid rgb(255, 205, 67);
}

.char-stats {
    text-align: center;
}

.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: GenshinFont;
    color: white;
    display: inline-block;
    font-size: 15px;
    background-color: gray;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}